# While Loop ---> always apply when you have cindition

# Outer loop and inner loop

# End will use when new line will not print

# while loop we check condition

# for loop for use for data sequence, or data structures ,datatypes, ranges

# While loop and For loop { Condtional stmt inside the loops }

In [1]:
print('data science')
print('data science')
print('data science')
print('data science')    
print('data science')

data science
data science
data science
data science
data science

In [2]:
i=1 #initialize
while i<=5: #condition
    print('data science')
    i=i+1 #Decrement

data science
data science
data science
data science
data science

In [3]:
 i= 5    # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # decrement

data science
data science
data science
data science
data science

In [4]:
i = 1    # initializing
while i<=5:   # condition
    print('data science : ', i)
    i = i + 1  # increment

data science :  1
data science :  2
data science :  3
data science :  4
data science :  5

In [5]:
i = 5          # initializing
while i>=1:    # condition
    print('data science :',i)
    i = i - 1  # decrement

data science : 5
data science : 4
data science : 3
data science : 2
data science : 1

In [6]:
#can we ue multiple while loop

In [7]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [8]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [9]:
# let use while loop using some numbers

i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [10]:
# lets use while loop usig some numbers
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

FOR LOOP  -
normally while loop it work with iteration or certaion some condition but for loop it will work with sequence (list, string,int)

In [11]:
name='nit'
for i in name:
    print(i)

n
i
t

In [12]:
name1=[1,3.5,'hello']#i want to print the values individually
for i in name1:
    print(i)

1
3.5
hello

In [13]:
for i in [2,35,'hi']:
    print(i)

2
35
hi

In [14]:
range(5)

range(0, 5)

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
for i in range(2,5):
    print(i)

2
3
4

In [17]:
for i in range(1,10,3):
    print(i)

1
4
7

In [18]:
#print the value which is divisible by 5

for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [19]:
# print the value which is divisible by 5 

for i in range(1,51):
    
    if i%5==0 :
        print(i)

5
10
15
20
25
30
35
40
45
50

In [20]:
# print the value which is divisible by 5 i dont want that value

for i in range (1,51):
    if i%5!=0:
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [21]:
# write the code user ask chocklet from vendor machne write the basic code 

x = int(input('How many rupeesyou want:?'))

i = 1
while i<=x:
    print('rupees')
    i += 1

How many rupeesyou want:? 5

rupees
rupees
rupees
rupees
rupees

In [22]:
ava = 5 # the machine has only 5 choclet 

x = int(input('How many rupees you want:?'))

i = 1
while i<=x:
    print('rupees')
    i += 1   
# if you check the user wants 10 choclets  but availabe choclet is 5 but we got output as 10 choclet
# in this code we just declare but we dint apply any condition to it

How many rupees you want:? 4

rupees
rupees
rupees
rupees

In [23]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many rupees user want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        break # break is statement | means jump out of the loop
    print('rupees')
    i += 1   
    
print('bye for now')

How many rupees user want:? 80

rupees
rupees
rupees
rupees
rupees
bye for now

In [24]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
# i dont want 11 number i want only 5 numbers for the range of 1 to 10
for i in range(1,11):
    if i == 6:
       break 
    print(i)

1
2
3
4
5

In [26]:
# in continue loop wont be terminate & exclue the assign number it give you entire output

In [27]:
for i in range(1,11):
    if i == 3:
        continue 
    print(i)

1
2
4
5
6
7
8
9
10

In [28]:
for i in range(1,11):
    if i == 6:
        continue  
    print('hello :',i)

hello : 1
hello : 2
hello : 3
hello : 4
hello : 5
hello : 7
hello : 8
hello : 9
hello : 10

In [29]:
#PASS Statement - pass the code & it wont go ( code give you the error)

In [30]:
for i in range(1,11):

_IncompleteInputError: incomplete input (1334445784.py, line 1)

In [31]:
for i in range(1,11):
    pass

# You need to print the number from 1 to 50 but dont print the number which is divisible by 3 or 5

In [32]:
for i in range(1,51):
    
    if i%3 == 0:
    
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [33]:
for i in range(1,51):
    
    if i%3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [34]:
for i in range(1,51):
    
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
#print('end')    
# it will skip all the value which is divisible by 3 or 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [35]:
for i in range(1,50):
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
print('end')    
# when you apply and you wont get the value which is divisible by both 3 & 5 (15)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
end

In [36]:
# i dont want to print the values which are even numbers that means print only odd numbers

for i in range(1,51):
    
    if (i%2 == 0):
        #print('even')
        continue
    else:
        print(i)
print('bye')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
bye

# Printing Pattern In Python

In [37]:
print('# # # #')
print('# # # #')
print('# # # #')
print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [38]:
for i in range (1,5):
    i=i+1
    print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [39]:
for i in range(1,5):
    if i<=5:
        print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [40]:
for j in range(4):
    print('#')

#
#
#
#

In [41]:
for j in range(4):
    print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [42]:
for j in range (4):
    print('# ', end="")

# # # #

In [43]:
for j in range(4):
    print('#', end=" ")

for j in range(4):
    print('#', end=" ")

# # # # # # # #

In [44]:
for j in range(4):
    print('#', end=" ")
    
print()
    
for j in range(4):
    print('#', end=" ")

# # # #
# # # #

In [45]:
for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

print()

for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [46]:
for i in range(4):
    for j in range(4):
        print('#', end="  ")
    print()
    # pease use debug mode in pycharm

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [47]:
for i in range(4):
    for j in range(i+1):
        print('#', end = " ")
    print()

#
# #
# # #
# # # #

In [48]:
for i in range(1,5):
    print("# "*i)

#
# #
# # #
# # # #

In [49]:
for i in range(1,5):
    for j in range(4):
        if i>j:
            print("#",end=" ")
    print()

#
# #
# # #
# # # #

In [50]:
list(range(5))

[0, 1, 2, 3, 4]

In [51]:
for i in range(4):
    for j in range(i):
        print('#', end="  ")
    print()

#
#  #
#  #  #

In [52]:
for i in range(4):
    for j in range(i+1):
        print('#', end="  ")
    print()

#
#  #
#  #  #
#  #  #  #

In [53]:
for i in range(4):
    for j in range(4-i):
        print('#', end="  ")
    print()

#  #  #  #
#  #  #
#  #
#

In [54]:
for i in range(1,5):
    print("# "*(5-i))

# # # #
# # #
# #
#